*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;    
    display: flex;
}
.div-main {
    align-items: center;
    justify-content: center;
    background-color: rgba(134, 134, 134, 0.5);
    border-radius:0 0 10px 10px;

}
.div-2 {
    display: flex;
    width: auto;
    height: auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}
.div-main p {
    margin-left: 20px;
    font-size: 20px;
}
.div-main a {
    text-decoration: none;
    color: white;
}
.div-main img {
    width: 60px;
    height: 80px;
    margin-left: 10px;
}
.navigation ul {
    display: flex;
    padding: 5px;
}
.navigation {
    padding: 5px;
    margin-right: 0px;
}
.div-hello {
    width: 500px;
    height: auto;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
}

.div-hello h1{
    font-size: 18px;
    color: white;
    font-weight:100;
    text-align: center;
}
.search {
    align-items: center;
    justify-content: center;
    display: flex;
    width: auto;
    margin-top: 20px;
}
.search form {
    width: auto;
    margin: auto;
}
.search form input {
    width: 300px;
    height: 25px;
    border-radius: 5px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: black;
    padding: 5px;
    border-radius: 5px;
}
.search form input:hover {
    background-color: white;
}
.search form button{
    width: 35px;
    height: 25px;
    font-size: 10px;
}